.NavBar {
    display: inline-block;
    margin: 51px 2px -104px 352px;


    .Links li a {
        list-style: none;
        margin: 25px 50px 0px 40px;
        font-size: 25px;
        font-family: 'Times New Roman', Times, serif;
        font-weight: 900;
        color: maroon;
            
        &:hover {
            color: black;
        }


    }

}

.Photo {
    margin: -849px 10px -263px 832px
}



