.NavBar {
    display: inline-block;
    margin: 51px 2px -104px 352px;


    .Links li a {
        list-style: none;
        margin: 25px 50px 0px 40px;
        font-size: 25px;
        font-family: 'Times New Roman', Times, serif;
        font-weight: 900;
        color: maroon;
            
        &:hover {
            color: black;
        }

        &:active {
            color: black;
        }


    }

}

.Header {
    color: maroon;
    font-family: 'Times New Roman', Times, serif;
    margin: -606px 0px 534px 838px;
    font-size: x-large;
}

.Photo {
    margin: -845px 12px -295px 950px;
    border: 2px solid black;
    box-shadow: 10px 10px 10px black;
}



